<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="org.eclipse.graphiti.ui.tests.dtWithInvalidImageProvider"
            name="Diagram Type with invalid Image Provider"
            type="dtWithInvalidImageProvider">
      </diagramType>
   </extension>
</plugin>
