<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    <copyright>
   
    Copyright (c) 2005, 2010 SAP AG.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
       SAP AG - initial API, implementation and documentation
   
    </copyright>
   
 -->

<plugin>

   <extension-point id="imageProviders" name="%_extension_point_image_providers" schema="schema/imageProviders.exsd"/>
   <extension-point id="diagramTypeProviders" name="%_extension_point_diagram_type_providers" schema="schema/diagramTypeProviders.exsd"/>
   <extension-point id="diagramTypes" name="%_extension_point_diagram_types" schema="schema/diagramTypes.exsd"/>

   <extension
         point="org.eclipse.ui.views">
          <view
                category="org.eclipse.ui"
                class="org.eclipse.graphiti.ui.internal.editor.ThumbNailView"
                icon="icons/outline/thumbnail.gif"
                id="org.eclipse.graphiti.ui.internal.editor.thumbnailview"
                name="%_thumbnail_view"/>
            <category
                  id="org.eclipse.graphiti.ui.Graphiti_Category"
                  name="%_thumbnail_view_category"/>      
   </extension>

   <extension
         point="org.eclipse.ui.editors">
 	  <editor
          class="org.eclipse.graphiti.ui.internal.editor.DiagramEditorInternal"
          contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
          default="true"
          extensions="diagram"
          icon="icons/lazy.gif"
          id="org.eclipse.graphiti.ui.internal.editor.DiagramEditor"
          matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorFactory$DiagramEditorMatchingStrategy"
          name="%_diagram_editor_name">
       <contentTypeBinding
             contentTypeId="org.eclipse.graphiti.content.diagram">
       </contentTypeBinding>
      </editor>
   </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="diagram"
            id="org.eclipse.graphiti.content.diagram"
            name="%_contenttype_diagram">
      </content-type>
   </extension>

   <extension point="org.eclipse.ui.elementFactories" id=".DiagramEditorFactory" name="%_diagram_editor_factory">
      <factory class="org.eclipse.graphiti.ui.editor.DiagramEditorFactory" id="org.eclipse.graphiti.ui.internal.editor.DiagramEditorFactory">
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.graphiti.ui.platform.PlatformImageProvider"
            id="org.eclipse.graphiti.ui.platform.PlatformImageProvider">
      </imageProvider>
   </extension>
</plugin>
