[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group ldap/modeling.gmp.graphiti
	forgeAuthor = group ldap/modeling.gmp.graphiti
	label-Code-Review = -2..+2 group ldap/modeling.gmp.graphiti
	label-IP-Clean = -1..+1 group ldap/modeling.gmp.graphiti
	label-Verified = -1..+1 group ldap/modeling.gmp.graphiti
	submit = group ldap/modeling.gmp.graphiti
	abandon = group ldap/modeling.gmp.graphiti
	push = group ldap/modeling.gmp.graphiti
	pushMerge = group ldap/modeling.gmp.graphiti
[access "refs/tags/*"]
	pushTag = group ldap/modeling.gmp.graphiti
	create = group ldap/modeling.gmp.graphiti
	push = group ldap/modeling.gmp.graphiti
	pushSignedTag = group ldap/modeling.gmp.graphiti
[project]
	state = active
	description = Graphiti
