<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 
 Copyright (c) 2005, 2010 SAP AG.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
    SAP AG - initial API, implementation and documentation
 
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/graphiti/mm"
            class="org.eclipse.graphiti.mm.MmPackage"
            genModel="model/graphiti.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/graphiti/mm/pictograms"
            class="org.eclipse.graphiti.mm.pictograms.PictogramsPackage"
            genModel="model/graphiti.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/graphiti/mm/algorithms"
            class="org.eclipse.graphiti.mm.algorithms.AlgorithmsPackage"
            genModel="model/graphiti.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://eclipse.org/graphiti/mm/algorithms/styles"
            class="org.eclipse.graphiti.mm.algorithms.styles.StylesPackage"
            genModel="model/graphiti.genmodel"/>
   </extension>

</plugin>
