<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="Diagram Type for Graphiti Chess Example"
            id="org.eclipse.graphiti.examples.chess.ChessDiagramType"
            name="Diagram Type for Graphiti Chess Example"
            type="chess">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.graphiti.examples.chess.diagram.ChessDiagramTypeProvider"
            description="This is the editor for the Graphiti chess example"
            id="org.eclipse.graphiti.examples.chess.ChessDiagramTypeProvider"
            name="Graphiti Chess Example Editor">
         <diagramType
               id="org.eclipse.graphiti.examples.chess.ChessDiagramType">
         </diagramType>
         <imageProvider
               id="org.eclipse.graphiti.examples.chess.ChessImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.eclipse.graphiti.examples.chess.ChessImageProvider"
            id="org.eclipse.graphiti.examples.chess.ChessImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.graphiti.examples.mm.chess.ChessPackage"
            genModel="model/chess.genmodel"
            uri="http://eclipse.org/graphiti/examples/chess">
      </package>
   </extension>

</plugin>
