<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Graphiti API Base Line" sequenceNumber="8">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.graphiti.feature.feature.group" version="0.8.0.v20110607-1252"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
</locations>
</target>
