<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.graphiti.examples.common.perspective.GFPerspective">
         <view
               id="org.eclipse.graphiti.examples.composite.diagramViewExample"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProgressView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.graphiti.examples.composite.DiagramCompositeViewExample"
            id="org.eclipse.graphiti.examples.composite.diagramViewExample"
            name="Diagram View Example"
            restorable="true">
      </view>
   </extension>

</plugin>
